@import url(./bootstrap.css);
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: row;
}

.movie-details {
    flex: 1;
    padding: 20px;
}

.movie-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-details p {
    font-size: 16px;
    margin-bottom: 5px;
}

.movie-details button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.movie-details button:hover {
    background-color: #0056b3;
}

.film-list {
    list-style-type: none;
    padding: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
}

.film-item {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
}

.film-item:hover {
    background-color: #f0f0f0;
}

.sold-out {
    color: red;
}
